body {
    background-color: slategray;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    font-size: 24px;
    color: white;
}

#mainContainer {
    padding: 30px;
}

#searchContainer {
    margin-bottom: 50px;
}

#resultsContainer {
    margin: 5px 0px;
}

#searchString {
    width: 335px;
}

#searchButton {
    margin-top: 10px;
    width: 85px;
    height: 30px
}

.paginator {
    color: lightgray;
    font-size: 10px;
}

.bookRow {
    margin: 10px 0px;
    padding: 5px;
    background-color: lightgray;
    color: slategray;
}

.bookImageContainer {
    width: 140px;
}

.bookPubContainer {
    font-size: 12px;
    color: slategray;
    padding-top: 7px;
}
.bookPubContainer p {
    height: 57px;
    background-color: slategray;
    color: lightgray;
    margin: 10px 0px 0px;
    overflow-y: scroll;
}

.bookImage {
    width: 100px;
    border: 1pm solid black;
}